[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-cors-headers = "*"
django-allauth = "*"
psycopg2 = "*"
dj-rest-auth = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
unidecode = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
